*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--color-background);
    color:var(--color-text);

}

img{

    display:block;
    max-width:100%;

}

button{

    border:none;
    outline:none;
    cursor:pointer;
    background:none;
    font-family:inherit;

}

ul{

    list-style:none;

}

.container{

    width:90%;
    max-width:var(--container-width);
    margin:auto;

}

section{

    padding:var(--section-padding) 0;

}