.experience{

    padding:100px 0;

}

.timeline{

    position:relative;

    margin-top:50px;

    padding-left:30px;

    border-left:1px solid var(--color-border);

}

.timeline-item{

    position:relative;

    margin-bottom:50px;

}

.timeline-dot{

    position:absolute;

    left:-38px;

    top:8px;

    width:14px;

    height:14px;

    border-radius:50%;

    background:var(--color-primary);

}

.timeline-content span{

    font-size:14px;

    color:var(--color-text-light);

}

.timeline-content h3{

    margin:8px 0;

}

.timeline-content h4{

    margin-bottom:12px;

    font-weight:500;

    color:var(--color-text-light);

}

.timeline-content p{

    max-width:650px;

}

/* ---------- Mobile ---------- */

@media(max-width:768px){

.experience{

    padding:60px 0;

}

.timeline{

    margin-top:35px;

    padding-left:22px;

}

.timeline-item{

    margin-bottom:35px;

}

.timeline-dot{

    left:-30px;

    width:12px;

    height:12px;

}

.timeline-content h3{

    font-size:22px;

}

.timeline-content p{

    font-size:14px;

    line-height:1.7;

}

}